
*
{
	margin: 0;
	padding: 0;
}


html, body
{
	height: 100%
}


.container
{
	height: 100%;
	background: url("BG_Placeholder2.png");
	background-position: center; 
	background-attachment: fixed; 
	background-repeat: no-repeat;
	background-size: cover;
}

div.horizontal {
    display: flex;
    justify-content: center;
	align-items: center;
}

div.vertical {
    margin-top: 13%;
	display: flex;
	flex-direction: column;
    justify-content: center;
	align-items: center;
}


#image_logo {
	width: 65%;
	height: 100%;
	-webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 9s linear infinite;
}


@-moz-keyframes spin {
    100% {-moz-transform: rotate(360deg);}
}

@-webkit-keyframes spin {
    100% {-webkit-transform: rotate(360deg);}
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}




#font 
{
	width: 50%;
	height: 50%;
}






/*
.container span 
{
	padding: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); 
}
*/
